{{#each ideas}}

   <div class="card card-body mb-2">
       <h4>{{title}}</h4>
       <p>{{details}}</p>
       <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{id}}">Edit</a>
       <form action="/ideas/{{id}}?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="DELETE">

       </form>
   </div>

{{else}}

<div class="card card-body m-2">
<b class="text-center">Empty Note !</b>
</div>
{{/each}}